@font-face {
  font-family: Roboto;
  src: url('/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: GOT;
  src: url('/fonts/Game\ of\ Thrones.ttf');
}
* {
  box-sizing: border-box;
  margin: auto;
}
::selection {
  display: none;
}
.inactive {
  pointer-events: none;
}
.hidden {
  visibility: hidden;
}



body {
  background-image: url('/assets/site/mapblue.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color:rgb(179,182,187);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  /* flex container properties */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}
.portraits{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  color: black;
  width: 80vw;
  height: 100vh;
  padding: 10px 0;
}
.portraitBox{
  width: 12%;
  height: 14%;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .portraitBox{
    width: 24%;
    height: 14%;
    text-align: center;
  }
  .portraits{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    color: black;
    width: 80vw;
    height: 100vh;
    padding: 10px 0;
  }
}

.portraitBox img{
  border: 2px solid transparent;
  border-radius: 100vW;
  width: 50%;
}
.portraitBox:hover img{
  border: 2px solid white;
  border-radius: 100vW;
  width: 50%;
}

.portraitBox:hover {
  background: rgba(56, 223, 237, 1.0);
  background: radial-gradient(ellipse at center, 
  rgba(56, 56, 56, 1.0), 
  rgba(56,56,56, 0.5),
  rgba(56,56,56, 0.0),
  rgba(56,56,56, 0.0));
}
.portraitName{
  font-size: .7em;
  text-align: center;
}

/*aside formatting */

.aside{
  display: block;
  background-color:rgb(57,57,58);
  font-size: 1em;
  width: 200px;
  height: 100vh;
}
.aside__top{
  height: 90vh;
  color: white;
}
.aside__bottom{
  height: 15vh;
}
.aside__header {
  font-family: 'GOT', Georgia, 'Times New Roman', Times, serif;
  font-size: 1vw;
  text-align: center;
  padding: 10px 0;
}
.character--name{
  height: 3em;
  padding: 5px;

}
.char--name{
  font-size: 0.9em;
  vertical-align: middle;
}
.char--house{
  height: 1.5em;
  float: right;
}
.character--details {
  padding: 5px;
  font-size: .8em;
}
.gotPicture{
  width: 200px;
}
.searchBar{
  height: 3em;
  padding: 0;
  background-color: white;
  vertical-align: bottom;

}
.searchButton{
  padding: 0 0 0 5px;
  width: 20%;
  height: 2em;
}

.search__input{
  width: 70%;
  height: 2.45em;

}
img .searcicon{
  object-fit: cover;
}
.foundBox{
  padding: 5px;
  text-align: center;
  font-size: .7em;
  color: yellow;
}

